# Dependencies
node_modules

# Next.js build output
.next

# Local environment variables
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and OS files
.DS_Store
.vscode/
.idea/

